<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Connect</button>
    <button mat-button>Create account</button>
  </mat-card-actions>
</mat-card>